<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/static/css/one.css">
    <link rel="stylesheet" href="../public/static/css/font/iconfont.css">
    <link rel="stylesheet" href="../public/static/css/common.css">
    <link rel="stylesheet" href="../public/static/lib/swiper/swiper.min.css">
    <link rel="stylesheet" href="../public/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<!--右下点击 回到最顶部-->
<i class="cl-top iconfont-first icon-firstshangchuan2 " ></i>

<!--头部导航栏-->
<header class="one-header">
    <div class="container">
        <div class="one-header-logo"><a href="#"><img src="../public/static/img/zara.jpg" alt="" class="one-logo"></a></div>
        <div class="one-header-nav">
            <ul>
                <li class="one-nav-one"><a href="#" class="nav-one">导航一</a></li>
                <li class="one-nav-two"><a href="#" class="nav-two">导航二</a></li>
                <li class="one-nav-thr"><a href="#" class="one-three">导航三</a></li>
                <li class="one-nav-for"><a href="#" class="nav-four">导航四</a></li>
                <li class="one-nav-fiv"><a href="#" class="nav-five">导航五</a></li>
                <li class="one-nav-six"><a href="#" class="nav-six">导航六</a></li>
                <li class="one-nav-sev"><a href="#" class="nav-senven">导航七</a></li>
                <li class="one-nav-eti"><a href="#" class="nav-eight">导航八</a></li>
            </ul>
        </div>
    </div>
</header>
<header class="one-header-empty"></header>
<!--轮播部分   导航一 -->
<section class="one-Carousel-car">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide1" >
                <div class="swiper-slide-body">
                    <p class="swiper-p1">PARALLAX <strong>ONE PAGE</strong>HAS ARRIVED</p>
                    <div class="swiper-slide-foo">
                            <i class="iconfont-first icon-firstqiantianchong"></i>
                            <div class="swiper-slide-foodiv">
                                <p class="swiper-p2">Let's just do it</p>
                                <p class="swiper-p3">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                    elit amet sed diam nonummy nibh <strong>dolore</strong></p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide2">
                <div class="swiper-slide2-connect">EXTREMELY RESPONSIVE DESIGN</div>
                <div class="swiper-slide2-img">
                    <div class="swiper-slide2-img1"><img src="../public/static/img/slider/Slide2_iphone_left.png" alt=""></div>
                    <div  class="swiper-slide2-img2"><img src="../public/static/img/slider/Slide2_iphone_right.png" alt=""></div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide3">
                <div class="swiper-slide3-connect">The clearest way into the Universe<br>
                    is through a forest wilderness.</div>
                <p>John Muir</p>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</section>

<!--导航二 部分-->
<section class="one-two">
    <div class="container">
        <div class="one-two-title ">
            <h2 class="title"><strong>导航二</strong>导航二</h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        </div>
        <div class="one-two-con">
            <img src="../public/static/img/trio.png" alt="">
            <div class="one-two-cir1 circle"><i class="ii iconfont-first icon-firsticon_im_face"></i>
                <p>Huge Updates</p></div>
            <div class="one-two-cir2 circle"><i class="ii iconfont-first icon-firsticon_im_face"></i>
                <p>Huge Updates</p></div>
            <div class="one-two-cir3 circle"><i class="ii iconfont-first icon-firsticon_im_face"></i>
                <p>Updates</p></div>
        </div>
    </div>
</section>

<!--导航三 部分-->
<section class="one-three">
    <div class="container">
        <div class="one-two-title">
            <h2 class="title">OUR<strong> SERVICES</strong></h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        </div>
        <div class="one-three-div">
            <div class="one-three-div1">
                <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                <p class="one-three-p1">Fantastic Support</p>
                <p class="one-three-p2">Lorem ipsum et dolor amet consectetuer diam</p>
            </div>
            <div class="one-three-div1">
                <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                <p class="one-three-p1">Fantastic Support</p>
                <p class="one-three-p2">Lorem ipsum et dolor amet consectetuer diam</p>
            </div>
            <div class="one-three-div1">
                <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                <p class="one-three-p1">Fantastic Support</p>
                <p class="one-three-p2">Lorem ipsum et dolor amet consectetuer diam</p>
            </div>
            <div class="one-three-div1">
                <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                <p class="one-three-p1">Fantastic Support</p>
                <p class="one-three-p2">Lorem ipsum et dolor amet consectetuer diam</p>
            </div>

        </div>
    </div>
</section>

<!--导航四 部分-->
<section class="one-four">
    <div class="one-four-bg">
        <div class="one-four-con">
            <p class="one-four-p1">THE DETAILS ARE NOT THE DETAILS</p>
            <p class="one-four-p2">THEY MAKE THE DESIGN</p>
            <p class="one-four-p3">KEEN THEMES</p>
        </div>
    </div>
</section>

<!--导航五 部分-->
<section class="one-five">
    <div class="container">
        <div class="one-two-title">
            <h2 class="title">MEET<strong> THE TEAM</strong></h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        </div>
        <div class="one-five-div">
            <!--<div class="one-five-div1">-->
                <!--<img src="../public/static/img/people/img1-large.jpg" alt="">-->
                <!--<h3>Marcus Doe</h3>-->
                <!--<span>FOUNDER</span>-->
                <!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->
                <!--<div class="one-five-i">-->
                    <!--<a href="" class=" iconfont-first icon-firstfacebook"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firsttwitter"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firstyouxiang"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="one-five-div1">-->
                <!--<img src="../public/static/img/people/img2-large.jpg" alt="">-->
                <!--<h3>Elena Taylor</h3>-->
                <!--<span>DESIGNER</span>-->
                <!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->
                <!--<div class="one-five-i">-->
                    <!--<a href="" class=" iconfont-first icon-firstfacebook"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firsttwitter"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firstyouxiang"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="one-five-div1">-->
                <!--<img src="../public/static/img/people/img3-large.jpg" alt="">-->
                <!--<h3>Cris Nilson</h3>-->
                <!--<span>DEVELOPER</span>-->
                <!--<p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>-->
                <!--<div class="one-five-i">-->
                    <!--<a href="" class=" iconfont-first icon-firstfacebook"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firsttwitter"></a>-->
                    <!--<a href="" class=" iconfont-first icon-firstyouxiang"></a>-->
                <!--</div>-->
            <!--</div>-->
        </div>


    </div>
</section>

<!--导航六 部分-->
<section class="one-six">
    <div class="one-six-conten">
        <div class="one-two-title ">
            <h2 class="title">MEET<strong> THE TEAM</strong></h2>
        </div>
        <div class="one-six-imgs">
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/1.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/2.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/3.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/4.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/5.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/6.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/7.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>

            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/8.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/9.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/10.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/1.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>
            <div class="one-six-img1">
                <img src="../public/static/img/portfolio/3.jpg" alt="">
                <div class="one-six-imgdiv">
                    <p>LATEST WORKS WORKS</p>
                    <h5>LATEST WORKS</h5>
                    <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">DETAILS</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--导航七 部分-->
<section class="one-seven">
    <div class="container">
        <div class="one-two-title one-seven-title">
            <h2 class="title">WHY TO<strong>CHOOSE US</strong></h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h4>
        </div>
        <div class="one-seven-computer">
            <div><img src="../public/static/img/choose-us.png" alt=""></div>
        </div>
        <div class="one-seven-ul">
            <ul>
                <li class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
                <li  class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
                <li  class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
                <li  class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
                <li  class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
                <li  class="one-seven-li">
                    <i class="iconfont-first icon-firsticon_roundclose_fill"></i>
                    <span>Lorem ipsum dolor sit amet</span>
                    <div class="one-seven-hide">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore veniam quis nostrud exercitation dolore magna
                            ullamco.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et
                            dolore.</p>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</section>

<!--导航八 部分-->
<section class="one-eight">
    <div class="one-eight-con">
        <div class="container">
            <span>CHECK OUT ADMIN THEME!</span>
            <em>Most Full Featured & Powerfull Admin Theme</em>
            <a href="">LIVE PREVIEW</a>
        </div>
    </div>
    <div class="one-eight-bg">
        <div class="one-eight-bg1">SOME FACTS ABOUT US</div>
        <div class="one-eight-circle container">
            <div class="one-eight-cir">
                <div class="one-eight-circle1">
                    <em>39</em>
                    <p>TEAM MEMBERS</p>
                </div>
            </div>
            <div class="one-eight-cir">
                <div class="one-eight-circle1">
                    <em>39</em>
                    <p>TEAM MEMBERS</p>
                </div>
            </div>
            <div class="one-eight-cir">
                <div class="one-eight-circle1">
                    <em>39</em>
                    <p>TEAM MEMBERS</p>
                </div>
            </div>
            <div class="one-eight-cir">
                <div class="one-eight-circle1">
                    <em>39</em>
                    <p>TEAM MEMBERS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--导航九 部分-->
<section class="one-night">
    <div class="container">
        <div class="one-two-title one-seven-title">
            <h2 class="title"><strong>PRICING</strong>TABLES</h2>
        </div>
        <div class="one-night-beg">
            <div class="one-night-b">
                <div class="one-night-beg1">
                    <div class="one-night-beg11"><p>Beginner</p><p>Lorem ipsum dolor</p></div>
                </div>
                <div class="one-night-div1">
                    <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                    <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                    <P>Per Month</P>
                </div>
                <div class="one-night-ul">
                    <ul>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                    </ul>
                </div>
                <div  class="one-night-sign"><a href="">SIGN UP</a></div>
            </div>
            <div class="one-night-b">
                <div class="one-night-beg1">
                    <div class="one-night-beg11"><p>Beginner</p><p>Lorem ipsum dolor</p></div>
                </div>
                <div class="one-night-div1">
                    <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                    <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                    <P>Per Month</P>
                </div>
                <div class="one-night-ul">
                    <ul>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                    </ul>
                </div>
                <div  class="one-night-sign"><a href="">SIGN UP</a></div>
            </div>
            <div class="one-night-b">
                <div class="one-night-beg1">
                    <div class="one-night-beg11"><p>Beginner</p><p>Lorem ipsum dolor</p></div>
                </div>
                <div class="one-night-div1">
                    <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                    <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                    <P>Per Month</P>
                </div>
                <div class="one-night-ul">
                    <ul>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                    </ul>
                </div>
                <div  class="one-night-sign"><a href="">SIGN UP</a></div>
            </div>
            <div class="one-night-b">
                <div class="one-night-beg1">
                    <div class="one-night-beg11"><p>Beginner</p><p>Lorem ipsum dolor</p></div>
                </div>
                <div class="one-night-div1">
                    <div class="one-div1"><i class="iconfont-first icon-firsticon_im_face"></i></div>
                    <i class="iii iconfont-first icon-firstsanjiaoxing"></i>
                    <P>Per Month</P>
                </div>
                <div class="one-night-ul">
                    <ul>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                        <li ><i class="iconfont-first icon-firstfangke"></i>Lorem ipsum dolor</li>
                    </ul>
                </div>
                <div  class="one-night-sign"><a href="">SIGN UP</a></div>
            </div>


        </div>









    </div>
</section>

<!--十部分-->
<section class="one-ten">
    <div class="container">
        <div class="one-two-title one-seven-title">
            <h2 class="title">WHY TO<strong>CHOOSE US</strong></h2>
            <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy .</h4>
        </div>
        <!--轮播图-->

        <div class="one-ten-icon">
            <ul>
                <li><img src="../public/static/img/partners/cisco.png" alt=""></li>
                <li><img src="../public/static/img/partners/walmart.png" alt=""></li>
                <li><img src="../public/static/img/partners/gamescast.png" alt=""></li>
                <li><img src="../public/static/img/partners/spinwokrx.png" alt=""></li>
                <li><img src="../public/static/img/partners/vimeo.png" alt=""></li>
                <li><img src="../public/static/img/partners/ngreen.png" alt=""></li>
            </ul>
        </div>

    </div>
</section>

<!--底部 部分-->
<footer class="footter">
    <div class="container">
        <ul>
            <li class="footter-li">
                <h6>ABOUT US</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip commodo consequat.</p>
                <p>Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.</p>
            </li>
            <li class="footter-li">
                <h6>OUR CONTACTS</h6>
            </li>
            <li class="footter-li footter-li2">
                <h6>LATEST TWEETS</h6>
                <p>35, Lorem Lis Street, Park Ave<br>California, US<br>Phone: 300 323 3456<br>Fax: 300 323 1456<br>
                    Email: <a href="">info@metronic.com</a><br>
                    Skype: <a href="">metronic</a></p>
                <P class="ppp">NEWSLETTER</P>
                <div class="ten-div">
                    <input type="text" value="youremail@mail.com" class="intp">
                    <button class="sub">SUBSCRIBE</button>
                </div>
            </li>
        </ul>
    </div>

</footer>

<!--最底部分-->
<div class="last-foot">
    <div class="container">
        <ul>
            <li class="last-foot1">2017 © Metronic One Page. ALL Rights Reserved.</li>
            <li class="last-foot2">
                <a href="" class="icon1"></a>
                <a href="" class="icon2"></a>
                <a href="" class="icon3"></a>
                <a href="" class="icon4"></a>
                <a href="" class="icon5"></a>
                <a href="" class="icon6"></a>
                <a href="" class="icon7"></a>
                <a href="" class="icon8"></a>
            </li>
            <li class="last-foot3">Copyright©2017.Company name All rights reserved.</li>
        </ul>
    </div>
</div>

<!--弹框-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>

<script src="../public/static/lib/jquery/jquery-2.1.4.min.js"></script>
<script src="../public/static/lib/swiper/swiper.min.js"></script>
<script src="../public/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../public/static/js/one.js"></script>
</body>
</html>
