<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/test/css/common.css">
    <link rel="stylesheet" href="../public/test/css/index.css">
    <link rel="stylesheet" href="../public/test/css/dialog.css">
    <link rel="stylesheet" href="../public/fonts/iconfont.css">

</head>
<body>
<!--头部区域-->
{{include 'particals/header.html'}}
<!--登陆框-->
<section class="login-wrapper">

    <div class="log">
        <div class="clear">
            <div class="log-le">
                <div><a href="#" class="icon"></a></div>
                <form action="" id="commentForm">
                    <ul class="log-form">
                        <li class="username"><input type="text" placeholder="用户名" name="username" id="username"></li>
                        <li class="password"><input type="password" placeholder="密码" name="password" id="password" ></li>
                        <li>
                            <span class="jzw"><i class="jzw_i iconfont-first icon-firstzhengquetishi
"></i>记住我</span>
                            <a href="#">忘记密码</a>
                            <button class="submit" type="submit"> 登录</button>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="log-ri">
                <a href="#"><img src="../public/test/image/a.png" alt=""></a>
            </div>
        </div>
        <div class="botti">
            <span>还没有账号?</span>
            <a href="/register">立即注册</a>
        </div>
    </div>

</section>


</body>


<script src="../public/test/js/jquey1.11.1.js"></script>
<script src="../public/test/js/jquery-validation-1.14.0/dist/jquery.validate.js"></script>
<script src="../public/test/js/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="../public/test/js/index.js"></script>
<script src="../public/test/js/dialog.js"></script>
</html>