<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/test/css/common.css">
    <link rel="stylesheet" href="../public/test/css/index.css">
    <link rel="stylesheet" href="../public/test/css/register.css">
</head>
<body>
<!--头部区域-->
<header class="head">
    <div class="container">
        <button class="login">登陆</button>
        <button class="sign">注册</button>
    </div>
</header>
<!--登陆框-->
<section class="login-wrapper">
    <!--//logo-->
    <div class="log">
            <div><a href="#" class="reicon"></a></div>
            <p class="new">注册新用户</p>
            <!--//注册表单-->
            <form action="" id="register">
                <ul>
                    <li class="username"><input type="text" name="username"  placeholder="用户名"></li>
                    <li class="email"><input type="text" name="email"  placeholder="邮箱"></li>
                    <li class="password"><input type="password" name="password"   placeholder="密码"></li>
                    <li class="pswjb">密码强度：</li>
                    <li class="v_code"><input type="text"  placeholder="验证码" name="v_code"><img src="/user/get-pic" alt="" class="yzm"></li>
                    <li>
                       我同意
                        <a href="#">用户协议</a>
                        <a href="#">已有账号？</a>
                    </li>
                    <li><button type="submit" class="commit">注册</button></li>
                </ul>
            </form>
    </div>

</section>

<script src="../public/test/js/jquey1.11.1.js"></script>
<script src="../public/test/js/jquery-validation-1.14.0/dist/jquery.validate.js"></script>
<script src="../public/test/js/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="../public/test/js/register.js"></script>
</body>
</html>