<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../../public/test/css/common.css">
    <link rel="stylesheet" href="../../public/test/css/index.css">
    <script src="../../public/test/js/jquey1.11.1.js"></script>
    {{include '../particals/linker.html'}}
    {{block 'head'}}

    {{/block}}

</head>
<body>
{{include '../particals/header.html'}}


{{block 'content'}}{{/block}}


{{include '../particals/footer.html'}}


</body>

</html>
